<% content_for :title, 'Athlete Coach' %>

<%# ToDo: Make it tabs %>

<div>
  <div>
    <%= react_component("Athletes", { trainer_id: @trainer_id }) %>
  </div>
  <div>
    <%# ToDo: react_component for training %>
  </div>
  <div>
    <%# ToDo: react_component for results %>
  </div>
</div>