<% content_for :title, 'Athlete Coach' %>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#athletes">Athletes</a></li>
  <li><a data-toggle="tab" href="#trainings">Trainings</a></li>
  <li><a data-toggle="tab" href="#results">Results</a></li>
</ul>

<div class="tab-content">
  <div id="athletes" class="tab-pane active">
    <h2>Athletes</h2>
    <%= react_component("Athletes/AddAthletes", { trainerId: @trainer_id }) %>
  </div>
  <div id="trainings" class="tab-pane">
    <h2>Trainings</h2>
    <%= react_component("Trainings", {}) %>
    <p>Trainings content</p>
  </div>
  <div id="results" class="tab-pane">
    <h2>Results</h2>
    <%= react_component("Results", {}) %>
    <p>Results content</p>
  </div>
</div>